.logo-box {
    margin-right: 1rem;
}

.nav-options {
    margin-right: 2rem;
    
}

.options-right{
    justify-content: end;
    padding: 0 10px;
}

.options-left{
    padding: 0 0.5px;
    justify-content: left;
}

.nav-last-item{
    margin-right: 49rem;
}

#navbar-main{
    padding-top: 0.7rem;
    border-bottom: 1px solid rgb(213, 213, 218);
    background-color: white;
    margin-bottom: 0.3rem;
}
