body {
    margin: 0px;
    background-color: white;
}

.logo {
    padding-left: 30px;
    width: 30px;
    height: 30px;
  }

  .flex-row {
    display: flex;
    flex-direction: row;

  }

  a{
    text-decoration: none;
    color: rgb(160, 158, 158);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, serif;
    font-weight: 470;  
  }

  .inline-code{
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius: 4px;
    
}
